body {
	font-family: Arial;
	background: #EEE;
}
gb-tile {
	display: inline-block;
	padding: 19px;
	height: 400px;
	flex: 1;
	margin: 4px;
	background: #FFF;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
	overflow: hidden;
	border-radius: 2px;
	transition: box-shadow 0.15s;
	cursor: pointer;
}

gb-tile:hover{
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}

gb-tile img {
	margin: 0 auto;
	margin-bottom: 10px;
	max-width: 100%;
	max-height: 100%;
}
gb-tile name {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #666;
	border-top:1px solid #EEE;
	padding-top:10px;
}

gb-tile price {
	font-size: 36px;
	color: #900;
	font-weight: bold;
}

gb-tile stock {
	font-size: 12;
	color: #999;
	display: block;
}

gb-tile stock.warning {
	color: #D00;
	font-weight: bold;
}

gb-tile info {
	display: block;
	height: calc(50% - 66px);
}

gb-tile photo{
	display: flex;
	height: 50%;
	align-items: center;
	transition: opacity 1s;
	overflow: hidden;
}

gb-tile.loading photo {
	opacity: 0;
}

gb-tile button {
	background: #900;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	padding: 10px;
	transition: background 0.15s;
	display: block;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}

gb-tile button:hover {
	background: #600;
	cursor: pointer;;
}

gb-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}